<!DOCTYPE html>
<html lang="en" style="height: 100%;">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Welcome</title>

		<link href="/static/css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet">

		<script src="/static/js/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
		<script src="/static/js/script.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row outer-row">
				<div class="col-md-3 to-vertically-center">
					<h3 id="title">
						Title of Image
					</h3>
				</div>
				<div class="col-md-6 to-vertically-center">
					<canvas id="canvas"></canvas>
				</div>
				<div class="col-md-3 to-vertically-center">
					<button type="button" class="btn btn-success" id="next" onclick="nextHandler(true);">
						Try Another?
					</button>
				</div>
			</div>
			<div class="row outer-row">
				<div class="col-md-6">
					<div class="container-fluid" id="classes"></div>
				</div>
				<div class="col-md-6">
					<label for="classSelector">Select/Add Another Class</label>
					<select id="classSelector" class="demo-default" placeholder="Select Another Class">
						<option value=""></option>
					</select>
					<button class="btn btn-success pull-right" onClick="classSelectionHandler(this, 'selector');">Submit</button>
				</div>
			</div>
		</div>
	</body>
</html>