body {
	height: 100%;
}

.container-fluid {
	height: 100%;
}

.outer-row {
	height: 50%;
}

.to-vertically-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

#title {
	text-align: center;
	word-break: break-all;
}

.outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
